name: Generate ASCII Artwork Mutliple Job

on: push   #[push,fork] we can use array for multiple values

jobs:
    first_job: 
        runs-on: ubuntu-latest
        steps: 
        - name: Install Cowsay Program
          run : sudo apt-get install cowsay -y
        - name: Execute the Cowsay CMD
          run : cowsay -f dragon "Run for life. (voosh.....fire incoming)" > dragon.txt
        
        - name: Upload the Dragon Text File
          uses : actions/upload-artifact@v4
          with:
             name: dragon-text-file
             path: dragon.txt

    second_test_job:
         needs: first_job
         runs-on: ubuntu-latest
         steps:
         - name: Download the Dragon text file
           uses : actions/download-artifact@v5
           with:
             name: dragon-text-file
             path: .
             
         - name: Test file exists
           run: grep -i "dragon" dragon.txt

    third_deploy_job: 
          needs: second_test_job   # We can provide the multiple jobs need in array form also [job1, job2] 
          runs-on: ubuntu-latest
          steps:
          - name: Download the Dragon text file
            uses : actions/download-artifact@v5
            with:
              name: dragon-text-file
       
          - name: Read file
            run: cat dragon.txt

          - name: Deploying
            run: echo Deploying......